@model Dental_Clinic.Models.EmployeeModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>@Model.Name</h1> 
    <p>
        <form asp-controller="ListOfDoctors" asp-action="Delete" method="post" asp-route-id="@Model.ID">
            <input type="submit" value="Удалить" />
        </form>
    </p>
</div>
   


<h3>ID :</h3>
<p>@Model.ID</p>

<h3>Name :</h3>
<p>@Model.Name</p>

<h3>Description :</h3>
<p>@Model.Description</p>

<a asp-action="Edit" asp-controller="ListOfDoctors" asp-route-id="@Model.ID">Edit</a>
